import React, { Component, Fragment } from 'react'
// see https://reactjs.org/docs/typechecking-with-proptypes.html :
import { array, bool, func, number, string, objecxt, symbol, node, element, elementType, instanceOf, ondOf, oneOfType, arrayOf, objectOf, shape, exact, any } from 'prop-types'
// import { StyledComp } from "./<%= props.style %>"

/**
 * <%= props.name %>
 *
 * @class
 */
export class <%= props.name %> extends Component {
  static propTypes = {}

  static defaultProps = {}

  state = {}

  render() {
    return(
      <div>
        <%= props.name %>
      </div>
    )
  }
}
export default <%= props.name %>
