import React from 'react'
import T from 'prop-types'

const propTypes = {}
const defaultProps = {}
export const <%= name %> = props => {
  return (
    <div><%= name %></div>
  )
}

<%= name %>.propTypes = propTypes
<%= name %>.defaultProps = defaultProps
export default <%= name %>
