import React from 'react'
import T from 'prop-types'

const propTypes = {}
const defaultProps = {}
export const <%= props.name %> = props => {
  return (
    <div><%= props.name %></div>
  )
}

<%= props.name %>.propTypes = propTypes
<%= props.name %>.defaultProps = defaultProps
export default <%= props.name %>
